@page "/atskaite"
@attribute [Microsoft.AspNetCore.Authorization.Authorize]
@using Microsoft.AspNetCore.Identity
@using SupervaroniApp.Models
@using SupervaroniApp.Data
@using SupervaroniApp.Service
@inject AuthenticationStateProvider authState
@inject SupervaroniApp.IService.IReportService reportService;
@*@authProvider.GetAuthenticationStateAsync().Result.User.Identity.Name; *@

<h3>Atskaite</h3>
<table>
    <thead>
        <th>Datums </th>
        <th>Ieplānotais </th>
        <th>Izpildītais </th>
        <th>Komentārs </th>
    </thead>
    <tbody>
        @foreach(var rep in @_reports)
        {
            <tr>
                <td class="hidden">@rep.UserId</td> 
                <td>@rep.Datums</td>
                <td>@rep.Ieplanots</td>
                <td>@rep.Izpildits</td>
                <td>@rep.Komentars</td>  
            </tr>
        }
        
    </tbody>
</table>

@code {
    List<Report> _reports = new List<Report>();
    Report report = new Report();

    protected override async Task OnInitializedAsync()
    {
        var authstate = await authState.GetAuthenticationStateAsync();
        var user = authstate.User;
        var name = user.Identity.Name;
        GetReports(name);
    }
    private void GetReports(String name)
    {
       _reports = reportService.GetReports(name); 
    }
}
